@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-color: black;
}
#container{
  color:white;
  font-family: helvetica;
  text-align: center;
  margin-top: 5%;
}
#button-container{
  margin: auto;
  width: 350px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.75fr repeat(5, 1fr);
  grid-template-areas:
    "dis dis dis dis"
    "ac ac div mult"
    "seven eight nine minus"
    "four five six plus"
    "one two three eq"
    "zero zero dot eq";
  grid-gap: 6px;
}

#display-container{
  grid-area: dis;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 5%;
  font-family: 'Digital-7', helvetica;
  overflow: hidden;

}
#display {
  grid-area: ldis;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 1px;
  color: white;
  font-size: 250%;

}

#cum-display {
  grid-area: sdis;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 1px;
  color: hsl(0, 0%, 80%);
}
.calc-keys{
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 300%;
  font-family: helvetica;
}
.calc-keys:active{
  background-color: white;
  border: black;
}

#clear {grid-area: ac;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#zero {grid-area: zero;}
#multiply {grid-area: mult;}
#divide {grid-area: div;}
#add {grid-area: plus;}
#subtract {grid-area: minus;}
#equals {grid-area: eq;}
#decimal {grid-area: dot;}
